/*****************************************************************************
RESET
*****************************************************************************/
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul, dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object, a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span, strong, sub, sup, tt, var, legend, fieldset {
    margin: 0;
    padding: 0;
}
img, fieldset {
    border: 0;
}
img {
    height: auto;
}
.ie8 img {
    width: auto;
    height: auto;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
/***************************************************************************
CUSTOM
***************************************************************************/

body {
  background: white url(/images/gradient.jpg) repeat-x top left;
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 1.1em;
  color: #414141;
}

h1 {
  color: #b70052;
  font-size: 1.6em;
  font-family: Helvetica, Arial, sans-serif;
  padding-top: 14.4pt;
  padding-bottom: 7.2pt;
}

div, header {
  overflow: auto;
}

header {
  width: 960px;
  margin: 0 auto;
}

footer {
  margin: 0 auto;
  text-align: center;
  padding: 25px 0;
}

#container {
  margin: 0 auto;
  width: 960px;
}

#sign-in {
  float: right;
  margin-right: 75px;
  margin-bottom: 25px;
}

div#main {
  background-color: rgba(255,255,255,.7);
  -moz-border-radius: 10px;
  border-radius: 10px;
  filter: alpha(opacity=70); /* for IE 6&7 */
  filter: "alpha(opacity=70)"; /* for IE 8 */
  -webkit-box-shadow: 0 0 10px rgba(255,255,255,1);
  -moz-box-shadow: 0 0 10px rgba(255,255,255,1);
  box-shadow: 0 0 10px rgba(255,255,255,1);
  min-height: 460px;
  padding: 10px;
  margin: 0 auto;
  width: 940px;
}

#home-logo {
}

img.main-image {
  display: block;
  width: 940px;
}
