<% content_for :head do %>
  <title>Disclog</title>
  <%= stylesheet_link_tag 'splash', :media => 'screen' %>
<% end %>
<script>
  $(document).ready(function(){
    var mainHeight = $("body").height()-50;
    $("section.main").height(mainHeight);
  });
</script>
<section class="main">
  <div class="main-left">
    <div class="floater" id="floater_left"></div>
    <div class="centered" id="centered_left">
      <p><span id="disclog">Disclog</span> is a new way to explore the web</p>
      <br />
      <p>
        Catalog the links of the people you <i>follow</i> to better discover 
        the web
      </p>
    </div>
  </div>
  <div class="main-right">
    <div class="floater" id="floater_right"></div>
    <div class="centered" id="centered_right">
      <p>Enter a Twitter handle and try it out!</p>
      <br />
      <%= form_for @account do |f| %>
        <%= f.text_field :screen_name %>
        <input id="button" type="button" value="Go" />
      <% end %>
    </div>
  </div>
</section>  
